Desktop/RemoteSystemsTempFiles
Desktop/Deukstra/build
Desktop/Deukstra/WebContent
Desktop/.metadata
Desktop/.recommenders
Desktop/Deukstra/.classpath
Desktop/Deukstra/.settings
Desktop/Deukstra/.project
Web/.idea
Web/sqlConsultOLD.js
